/* Base */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #000;
    /* Same color as your menu */
    font-family: Helvetica, Arial, sans-serif;
}
nav{

    .menu {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 190px;
        padding: 15px 25px;
        margin: 0;
        list-style: none;
        background: #000;
        z-index: 10;
       a {
        display: block;
        color: #fff;
        padding: 15px 0;
        border-bottom: 1px solid rgba( 255, 255, 255, 0.05 );
        }
    }
}

.wrapper {
    position: relative;
    z-index: 20;
    padding: 20px;
    background: #fff;
    height: 100%;
    header{
        .btnMenu {
            position: absolute;
            top: 10px;
            left: 10px;
            padding: 15px 10px;
            border: 1px solid #eee;
        }
    }
    /* Main body */
    .main{
        padding-top: 18%;
    }
}

/* Animations */
.wrapper, .menu {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}

/* Hide the menu unless it's animating or visible */
.animating .menu, .menuIsVisible .menu {
    display: block;
}

.animating .wrapper {
    transition: transform .25s ease-in-out;
    -webkit-transition: -webkit-transform .25s ease-in-out;
}

.animating.left .wrapper {
    transform: translate3d( -80%, 0, 0 );
    -webkit-transform: translate3d( -80%, 0, 0 );
}
.animating.right .wrapper {
    transform: translate3d( 80%, 0, 0 );
    -webkit-transform: translate3d( 80%, 0, 0 );
}
.menuIsVisible .wrapper {
    left: 80%;
}
