// Absolute position
@mixin abs-pos ( $top: auto, $right: auto, $bottom: auto, $left: auto ) {
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    position: absolute;
}

@mixin afterCenter($borderSize){
    left: 50%;
    border: $borderSize solid transparent;
    border-top: $borderSize solid $color--white;
    margin-left: -$borderSize;
}

@mixin HorAndVerCentered($axis: "both"){
    position:absolute;
    @if $axis == "y"{
        top:50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    @if $axis == "x"{
        left:50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    @if $axis == "both"{
        top:50%;
        left:50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}
/*
Y axis : @include HorAndVerCentered(y);
X axis : @include HorAndVerCentered(x);
Both axis : @include HorAndVerCentered;
 */
// Font size in px and rem
@mixin font-size($font-size) {
    font-size: $font-size + px;
    font-size: ($font-size / 16) * 1 + rem;
}

@mixin line-height($heightValue: 12) {
    line-height: $heightValue + px; //fallback for old browsers
    line-height: ($heightValue / 16) * 1 + rem;
}

@mixin image-2x($image, $width, $height) {
    @media (min--moz-device-pixel-ratio: 1.3),
            (-o-min-device-pixel-ratio: 2.6/2),
            (-webkit-min-device-pixel-ratio: 1.3),
            (min-device-pixel-ratio: 1.3),
            (min-resolution: 1.3dppx) {
                /* on retina, use image that's scaled by 2 */
                background-image: url($image);
                background-size: $width $height;
            }
}

@mixin opacity($value: 0.9, $important:"") {
    opacity: $value unquote($important);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity= $value * 100 )" unquote($important);
    filter: alpha(opacity= $value * 100 ) unquote($important);
    zoom: 1 unquote($important);
}

/* Generate and display the image in responsive */
@mixin responsive-bg($image-width, $image-height) {
    padding-top: percentage($image-height / $image-width);
}

@mixin full-adaptative-image-portrait($image){
    background: url($image) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@mixin full-adaptative-image-landscape($image){
    background: url($image) no-repeat 0 0;
}

/* Carousel in landscape mode only */
@mixin adaptative-carousel-landscape($image){
    overflow: hidden;
    background: url($image) no-repeat center center fixed;
    background-color: #000;
}
@mixin center-block {
    position:absolute;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin:auto;
    width:100%;
}

@mixin aspect-ratio-img($originalHeight,$originalWidth,$image){
    background: url($image) no-repeat center center fixed;
    height : $originalHeight / $originalWidth * $containerSize;
}
@mixin responsive-carousel-landscape($image-width, $image-height) {
    background-size: 100%;
    padding: percentage($image-height / $image-width);

}

/* MediaQueries*/
@mixin mediaquery($point) {
    // 320px mobile
    @if $point == mobile {
        @media screen and (min-width: $bp-phone-port) { @content; }
    }
    // Bigger than mobile size
    @else if $point == desktop {
        @media screen and (min-width: $bp-med-desktop) { @content; }
    }
}

@mixin rem($pixels, $context:$browser-context) {
    font-size:($pixels/$context)+rem;
}

/*SVG background images with PNG and retina fallback */
@mixin background-image($name, $size:false){
    background-image: url(#{$mediaPath}/#{$name}.svg);
    @if($size){
        background-size: $size;
    }
    .no-svg &{
        background-image: url(#{$mediaPath}/#{$name}.#{$fallback-extension});

        @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
            background-image: url(#{$mediaPath}/#{$name}#{$retina-suffix}.#{$fallback-extension});
        }
    }
}
/* Retina images */
@mixin image-2x($image, $width, $height) {
    @media (min--moz-device-pixel-ratio: 1.3),
            (-o-min-device-pixel-ratio: 2.6/2),
            (-webkit-min-device-pixel-ratio: 1.3),
            (min-device-pixel-ratio: 1.3),
            (min-resolution: 1.3dppx) {
                /* on retina, use image that's scaled by 2 */
                background-image: url($image);
                background-size: $width $height;
            }
}
/*
Usage:

div.logo {
     background: url("logo.png") no-repeat;
     @include image-2x("logo2x.png", 100px, 25px);
 }
 */
/* Border Radius */
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

// Single side border-radius

@mixin border-top-radius($radius) {
    -webkit-border-top-right-radius: $radius;
    border-top-right-radius: $radius;
    -webkit-border-top-left-radius: $radius;
    border-top-left-radius: $radius;
    background-clip: padding-box;
}
@mixin border-right-radius($radius) {
    -webkit-border-bottom-right-radius: $radius;
    border-bottom-right-radius: $radius;
    -webkit-border-top-right-radius: $radius;
    border-top-right-radius: $radius;
    background-clip: padding-box;
}
@mixin border-bottom-radius($radius) {
    -webkit-border-bottom-right-radius: $radius;
    border-bottom-right-radius: $radius;
    -webkit-border-bottom-left-radius: $radius;
    border-bottom-left-radius: $radius;
    background-clip: padding-box;
}
@mixin border-left-radius($radius) {
    -webkit-border-bottom-left-radius: $radius;
    border-bottom-left-radius: $radius;
    -webkit-border-top-left-radius: $radius;
    border-top-left-radius: $radius;
    background-clip: padding-box;
}
/*
Example:

.button {
    @include border-radius(5px);
}
.submit-button {
    @include border-top-radius(10px);
    @include border-right-radius(8px);
    @include border-bottom-radius(10px);
    @include border-left-radius (6px);
}
*/

/* Center-align a block level element */
@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*
Usage:

.footer-wrap {
    width: 450px;
    @include center-block;
}
*/
/* Hide Text */
@mixin hide-text{
    overflow:hidden;
    text-indent:-9000px;
    display:block;
}
/*
Ex:
.logo{
    background: url("logo.png");
    height:100px;
    width:200px;
    @include hide-text;
}
 */
/* Circle */
@mixin circle($size) {
    width:  $size;
    height: $size;
    border-radius: 50%;
}
/*Ex:
.box {
     @include circle(100px);
     background: #fc0;
}
*/
/* Link colors */
@mixin linkColor($color) {
    color: $color;
    &:hover, &:active, &:focus {
         color: lighten($color, 20%);
    }
}
/*
Ex:
a{
         @include linkColor(#3cf);
}
 */

/* Animations and keyframes */
@mixin keyframes($animation-name) {
    @-webkit-keyframes $animation-name {
        @content;
    }
    @-moz-keyframes $animation-name {
        @content;
    }
    @-ms-keyframes $animation-name {
        @content;
    }
    @-o-keyframes $animation-name {
        @content;
    }
    @keyframes $animation-name {
        @content;
    }
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}
/*
Example :

@include keyframes(slide-down) {
    0% { opacity: 1; }
    90% { opacity: 0; }
}

.element {
    width: 100px;
    height: 100px;
    background: black;
    @include animation('slide-down 5s 3');
}
*/

/* Transitions */
@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}
/*
Ex:
a {
    color: gray;
    @include transition(color .3s ease);
    &:hover {
        color: black;
    }
}
 */
/* Cross browser opacity */
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}
/*
Usage :
.faded-text {
    @include opacity(0.8);
}
*/



/* Clearfix */
@mixin clearfix() {
    *zoom: 1;
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

/* Ex:
.container-with-floated-children {
    @include clearfix();
}

*/
