/* =======================================================================
/* ####################### VARS ##########################
======================================================================= */
// Themes Paths ----------------------------------------------------
	$fallback-extension :    "png" !default;
	$retina-suffix :         "@2x";

// Basic Website colors scheme ---------------------------------------
	$color--green      : #70be44; // Green for nav background and some blocks
	$color--bg-black   : #000; // Bg black
	$color--grey-txt   : #929397; // Wording color
	$color--white-txt  : #fff; // White color for wordinds

// -- Font-size ------------------------------------------------
	$base-font-size     : 16px; // 16px
	$browser-context    : 16; // Default font size
	$base-line-height   : $base-font-size * 1.5;

// -- Links --------------------------------------------------------
	$link-color         : $color--green;

// -- Font Colors -------------------------------------------------------
	$base-font-color    : $color--grey-txt;

// -- Hover button color--------------------------------------------------

	$hover-btn-bgcolor : darken($link-color, 25%);

// -- Errors & info --------------------
	$warning-color      : #E4312A;

// -- Errors & info --------------------

	$container-size-width: 1280px;
